<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon"  href="@Url.Content("~/favicon.ico")" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo-img" src="~/Content/SiteImages/tournamentLogo.jpg" alt="TournamentLogo" /></a>
        </div>
                
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Search", "Index", "Search", new { area = "" }, null)</li>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Chat", "Index", "Chat", new { area = "" }, null)</li>
                }
            </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_AdminPartial")
        </div>
    </nav>
    <div class="wrap-box"></div>
    
    <div class="body-content">
        @RenderBody()
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="footer_top">
                        <div class="col-md-6">
                            <strong>Contacts</strong>
                            <address class="address">
                                <p>33 Alexander Malinov Bul, <br>Telerik Academy.</p>
                                <dl>
                                    <dt></dt>
                                    <dd>Phone:<span> +359 88 888888</span></dd>
                                    <dd>E-mail:&nbsp; <a href="mailto@example.com">info@soccer_tournaments.com</a></dd>
                                </dl>
                            </address>                            
                            <div class="clearfix"> </div>
                        </div>                        
                        <div class="clearfix"> </div>
                    </div>
                    <div class="footer_bottom">
                        <div class="copy">
                            <p>Copyright © 2017 Soccer-Tournaments. All Rights Reserved.<a href="http://w3layouts.com/" target="_blank">Tournaments Group Ltd</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
